<form {{action "submit" form on="submit" }}>
  {{input placeholder="Name"
          value=form.name}}
  {{input placeholder="Location"
          value=form.location}}
  {{input placeholder="Start Date"
          value=form.startDate}}
  {{input placeholder="End Date"
          value=form.endDate}}
  {{input placeholder="Description"
          value=form.description}}
  {{input type="submit"}}
</form>
