<form {{action "submit" form on="submit" }}>
  {{input placeholder="NAME"
          value=form.name}}
  {{input placeholder="LOCATION"
          value=form.location}}
  {{date-picker date=form.startDate valueFormat='ll'}}
  {{date-picker date=form.endDate valueFormat='ll'}}
  {{input placeholder="DESCRIPTION"
          value=form.description}}
  {{input type="submit" class="highlight-button circle submit-new-trip-button" value=">"}}
</form>
