<form {{action "submit" form on="submit" }}>
  {{input placeholder="NAME"
          value=form.name}}
  {{input placeholder="LOCATION"
          value=form.location}}
  {{input placeholder="START DATE"
          value=form.startDate}}
  {{input placeholder="END DATE"
          value=form.endDate}}
  {{input placeholder="DESCRIPTION"
          value=form.description}}
  {{input type="submit" class="highlight-button circle submit-new-trip-button" value=">"}}
</form>
