{{!-- {{#if isAuthenticated}}<h4>Current User: {{user}}</h4>{{/if}} --}}

<div class="trip-details-header">
  <h2>
    <span class="trip-name" contenteditable>{{trip.name}}</span>
  </h2>
  <p class="subtle-text small-text">
    {{moment-format trip.startDate 'll'}} -
    {{moment-format trip.endDate 'll'}}
  </p>
  <p class="subtle-text small-text">
    <span class="trip-location" contenteditable>{{trip.location}}</span>
  </p>
</div>
<div class="row">
  <div class="trip-details-body">
    <p class="small-text trip-description">
      <span class="trip-description" contenteditable>{{trip.description}}</span>
    </p>
    <h4 class="partipants-list-header">Participants</h4>
    {{!-- Display # of Participants --}}
    <ul class="participants-list">
      {{#each trip.invitations as |invitation|}}
        <li class="sm-circle user-icon">{{invitation.userInit}}</li>
      {{/each}}
    </ul>
    <p class='subtle-text small-text'>Share:<br/> <a href={{trip.url}}>{{trip.url}}</a></p>

    <div class="trip-cards-container">
      <div class="trip-card">
        <div class="trip-card-header">
          <h4>food</h4>
        </div>
        <div class="trip-card-body">
          <p class="small-text subtle-text"> Coming Soon </p>
        </div>
      </div>
      <div class="trip-card">
        <div class="trip-card-header">
          <h4>rides</h4>
        </div>
        <div class="trip-card-body">
          <p class="small-text subtle-text"> Coming Soon </p>
        </div>
      </div>
      <div class="trip-card">
        <div class="trip-card-header">
          <h4>activities</h4>
        </div>
        <div class="trip-card-body">
          <p class="small-text subtle-text"> Coming Soon </p>
        </div>
      </div>
      <div class="trip-card">
        <div class="trip-card-header">
          <h4>gear checklist</h4>
        </div>
        <div class="trip-card-body">
          <p class="small-text subtle-text"> Coming Soon </p>
        </div>
      </div>
    </div>

    <div class="trip-action-button-container">
      <button class="highlight-button pill-button" {{action "joinTrip"}}>Join Trip</button>
      <button class="highlight-button pill-button" {{action "submit"}}>Submit Changes</button>
      <button class="danger-button pill-button" {{action "deleteTrip"}}>Delete Trip</button>
    </div>
  </div>
</div>
