<h3>
  <span class="trip-name" contenteditable>{{trip.name}}</span>
  {{!-- <button {{action "toggleEditable">Edit</button> --}}
</h3>
<p>Location:
  <span class="trip-location" contenteditable>{{trip.location}}</span>
  {{!-- <button>Edit</button> --}}
</p>
<p>
  Dates: {{trip.startDate}} to {{trip.endDate}}
  {{!-- <button>Edit</button> --}}
</p>
<p>Description:
  <span class="trip-description" contenteditable>{{trip.description}}</span>
</p>
<button {{action "submit"}}>Submit Changes</button>
<button {{action "deleteTrip"}} class="btn btn-danger">Delete Trip</button>
