<div class="outer-container">
  {{outlet}}
</div>

<div class="footer-button-container auth-button-container">
    <div class="home-button">
      <button class="subtle-button home-button" {{action "home"}}><h4><span class="ion-ios-home"></span></h4></button>
    </div>
  {{#if isAuthenticated}}
    <div>
      <button class="subtle-button sign-out-button" {{action "signOut"}}>sign out</button>
    </div>
    {{change-password-modal changePW="changePW"}}
  {{else}}
    {{sign-in-modal signIn="signIn"}}
    {{sign-up-modal signUp="signUp"}}
  {{/if}}
</div>


<div class="flash-message-container row">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>
