<button class="subtle-button" {{action "toggleModal"}}>sign in<span class="icon ion-person"></span></button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=true
                  clickOutsideToClose=false
                  containerClassNames="oto-modal-container row"
                  overlay-class=""
                  wrapper-class="outer-container"}}
    <h2 class="modal-header">GOOD JOB! ALMOST THERE!</h2>
    <p class="modal-description"> Please enter your user info so your friends can know who you are. </p>

    {{email-input email=credentials.email}}
    {{password-input password=credentials.password}}

    <div class="footer-button-container">
      <button class="subtle-button auth-cancel-button cancel-button" {{action "toggleModal"}}>
        Back
      </button>
      <button type="submit" class="highlight-button circle auth-submit-button submit-button" {{action "signIn"}}>
        OK
      </button>
    </div>

  {{/modal-dialog}}
{{/if}}
