<button class="subtle-button" {{action "toggleModal"}}>sign in<span class="icon ion-person"></span></button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=true
                  clickOutsideToClose=false
                  containerClassNames="oto-modal-container row"
                  overlay-class=""
                  wrapper-class="outer-container"}}
    {{email-input email=credentials.email}}
    {{password-input password=credentials.password}}

    <button type="submit" class="btn btn-primary" {{action "signIn"}}>
      Sign In
    </button>

    <button class="btn btn-default" {{action "toggleModal"}}>
      Cancel
    </button>
  {{/modal-dialog}}
{{/if}}
