<button class="subtle-button sign-in-button" {{action "toggleModal"}}>change pw<span class="icon ion-person"></span></button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=true
                  clickOutsideToClose=false
                  containerClassNames="oto-modal-container row"
                  overlay-class=""
                  wrapper-class="outer-container"}}
    <h2 class="modal-header">USER SETTINGS</h2>
    <p class="subtle-text">Go ahead and change your password if you'd like.</p>

    <div class="modal-field-container form">
      {{input type="password"
              class="form-control"
              id="previous"
              placeholder="OLD PASSWORD"
              value=passwords.previous}}
      {{input type="password"
              class="form-control"
              id="next"
              placeholder="NEW PASSWORD"
              value=passwords.next}}
    </div>

    <div class="footer-button-container">
      <button class="subtle-button auth-cancel-button cancel-button" {{action "toggleModal"}}>
        back
      </button>
      <button type="submit" class="highlight-button circle auth-submit-button submit-button" {{action "changePW"}}>
        OK
      </button>
    </div>

  {{/modal-dialog}}
{{/if}}
