<button class="subtle-button sign-up-button" {{action "toggleModal"}}>sign up<span class="icon ion-person-add"></span></button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true
                  clickOutsideToClose=true}}
    {{email-input email=credentials.email}}
    {{input type="text"
            id="first-name"
            placeholder="FIRST NAME"
            value=credentials.firstName}}
    {{input type="text"
            id="last-name"
            placeholder="LAST NAME"
            value=credentials.lastName}}
    {{password-input password=credentials.password}}
    {{password-confirmation-input password=credentials.passwordConfirmation}}

    <div class="footer-button-container">
      <button class="subtle-button auth-cancel-button cancel-button" {{action "toggleModal"}}>
        back
      </button>
      <button type="submit" class="highlight-button circle auth-submit-button submit-button" {{action "signUp"}}>
        OK
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}
